@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.home--container {
    background-color: rgba(24, 35, 57, 0.789);
    margin-left: auto;
    margin-right: auto;
    margin-top: 400px;
    width: 500px;
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 
    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, 
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.pokedex--text {
    position: absolute;
    top: 110px;
    left: 23.5%;
    width: 800px;
    filter: drop-shadow(5px 22px 18px #000000a1);
}

.search--input {
    width: 300px;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
}

.search--input:focus {
    outline: none;
    border: none;
}

.search--button {
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    background-color: #2a4d85;
    color: #ffffff;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.search--button:hover {
    background-color: #275db3;
}

.battle--button {
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    background-color: #2a4d85;
    color: #ffffff;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

.battle--button:hover {
    background-color: #275db3;
}

.form--footer--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
}

.background--image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

/* MODAL */
.modal--content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(24, 35, 57);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
}

.modal--header {
    width: 100%;
    display: flex;
    justify-content: right;
}

.search--pokemon--name {
    text-transform: uppercase;
    color: #ffffff;
}

.search--pokemon--image {
    width: 200px;
    filter: drop-shadow(1px 40px 25px #000000);
    margin-top: 30px;
    margin-bottom: 30px;
}

.grid--container--pokecard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 30px);
    margin-top: 20px;
    margin-bottom: 20px;
}

.grid--container--pokecard--item {
    text-align: center;
    color: #ffffff;
}

.pokecard--label {
    font-size: 10px;
}

.pokecard--value {
    font-size: 25px;
    font-weight: bold;
    margin-top: -15px;
}

.pokecard--value::first-letter {
    text-transform: uppercase; 
}

.close--button {
    margin-top: -20px;
    margin-right: -10px;
    font-size: 30px;
    text-align: left;
    cursor: pointer;
}

.modal--background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.477);
    z-index: 1;
}

/* POKEMON BATTLE */

.modal--content--battle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #192e4a, #4a1919);
    padding: 20px 20px 60px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 1450px;
    text-align: center;
}

.close--button {
    color: #ffffff83;
}

.pokemon--battle--text {
    width: 500px;
    margin-top: -30px;
    margin-bottom: -30px;
    filter: drop-shadow(5px 22px 18px #000000a1);
}

.modal--result--label {
    margin-top: 20px;
    font-size: 12px;
    color: #ffffff;
}

.modal--result--battle {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
    color: #ffffff;
}

.teams--container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team1--label {
    font-size: 25px;
    margin-top: -60px;
    color: #3e7bc9;
}

.team1--total {
    font-size: 40px;
    color: #add2ff;
}

.team2--label {
    font-size: 25px;
    margin-top: -60px;
    color: #c9403e;
}

.team2--total {
    font-size: 40px;
    color: #ffa3a3;
}

.grid--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-template-rows: repeat(2, 225px); /* Two rows with fixed height of 100px */
    gap: 20px; /* Gap between grid items */
}

.grid--item {
    /* Optional styling for grid items */
    padding: 20px;
    text-align: center;
    color: #ffffff;
}

.battle--card--name1 {
    font-size: 20px;
    color: #3e7bc9;
}

.battle--card--name2 {
    font-size: 20px;
    color: #c9403e;
}

.battle--card--name1::first-letter {
    text-transform: uppercase;  
}

.battle--card--name2::first-letter {
    text-transform: uppercase;  
}

.battle--card--label {
    margin-top: 5px;
    font-size: 10px;
}

.battle--card--experience--num {
    margin-top: 5px;
    font-size: 26px;
    font-weight: bold;
}

.battle--card--image {
    width: 125px;
    filter: drop-shadow(1px 40px 25px #000000);
    transition: transform 0.3s ease;
}

.battle--card--image:hover {
    transform: scale(1.4);
}

.battle--card--refresh {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: -80px;
}

.refresh--icon {
    width: 40px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.refresh--icon:hover {
    animation: rotateAnimation 2s infinite linear;
}

@keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg); /* Adjust the rotation angle as needed */
    }
}